.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    >div{
        display: inline-flex;
        >div{
            // color: #a3a6b0;
            opacity: 85%;
            margin: 5px 15px;
        }
    }
    >.logo{
        font-size: 20px
    }
}